.container {
  background-color: rgb(247, 249, 249);
  border-radius: 16px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 100%;
}

.header {
  color: var(--primary-color);
  line-height: 23px;
  font-size: 19px;
  font-weight: 900;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 15px;
}

.iconContainer {
  border-radius: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  transition: background-color 0.2s;
}

.iconContainer:hover {
  background-color: var(--primary-color-100);
}

.icon {
  fill: var(--primary-color);
  height: 19px;
  width: 19px;
}

.button {
  cursor: pointer;
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding: 15px;
  transition: inherit;
  width: 100%;
}

.listItem {
  transition: background-color 0.2s;
}

.listItem:hover {
  background-color: var(--black-30);
}

.button:hover {
  background-color: var(--black-30);
}
