.sidebarOption {
  display: flex;
  font-size: 12.5px;
  justify-content: flex-start;
  color: rgb(15, 20, 25);
  cursor: pointer;
  text-decoration: none;
}

.sidebarOption__inner {
  border-radius: 48px;
  display: flex;
  align-items: center;
  padding: 11px;
  transition: all 200ms ease-out;
}

.sidebarOption__iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24.5px;
  aspect-ratio: 1/1;
}

.sidebarOption__inner:hover {
  background-color: rgba(15, 20, 25, 0.1);
}

.sidebarOption__text {
  margin-right: 15px;
  margin-left: 19px;
  line-height: 23px;
  font-weight: 400;
}

.sidebar--active .sidebarOption__text {
  font-weight: 700;
}
