.tweetComposer {
  display: flex;
}

.tweetComposer__avatar {
  background-color: var(--twitter-extra-lightgray);
  border-radius: 100px;
  border: none;
  height: 46px;
  width: 46px;
  margin-right: 11px;
}

.tweetComposer__form {
  padding-top: 4px;
  max-width: calc(100% - (57px));
}

.tweetComposer__input {
  background: none;
  border: none;
  color: var(--twitter-black);
  font-size: 19px;
  line-height: 23px;
  resize: none;
  outline: none;
  overflow-wrap: break-word;
}

.tweetComposer__privacy {
  border-radius: 100px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  fill: var(--twitter-blue);
  line-height: 15px;
  color: var(--twitter-blue);
  padding: 0 11px;
  min-height: 23px;
}

.tweetComposer__privacy svg {
  height: 15px;
  width: 15px;
  margin-right: 4px;
}

.tweetComposer__privacy:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
